# VS Code
.vscode

# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data (IMPORTANT for your project)
data/menu.json
data/orders.json

# OS files
.DS_Store
Thumbs.db

# Build output (if exists in future)
dist/
build/
